/* importamos la fuente */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f6fafc !important; /* El color de fondo deseado */
    font-family: 'M PLUS Rounded 1c', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


/* SECCION I N I C I O */
.inicio {
    background-image: url('https://www.teahub.io/photos/full/210-2104700_front-end-web-development.jpg'); /* Ruta de la imagen que deseas usar */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    height: 90vh;
    padding: 0 20px;
    background-color: #f6fafc;
}

.inicio .contenido {
    max-width: 1100px;
    margin: auto;
    color: #fff;
}

.inicio header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}

.inicio .logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px;
}

.inicio .logo i {
    display: inline-block;
    margin-right: 20px;
}


/* Ajuste para el botón Descargar CV debajo del logo */
.inicio header .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.inicio header .logo h1 {
    color: #00deef;
    font-size: 25px;
    margin-right: 20px; /* Ajusta el margen derecho según sea necesario */
}

.inicio header .logo button.btn {
    background: none;
    padding: 5px 20px;
    border: 2px solid #2193b0;
    color: #fff;
    background: linear-gradient(to right, #2193b0, #6dd5ed);
    transition: .5s;
    cursor: pointer;
}

.inicio header .logo button.btn:hover {
    transform: scale(1.1);
}

#inicio header nav a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
    border: 2px solid transparent;
}

#inicio header nav a:hover {
    border-bottom: 2px solid #00E676;
}

.inicio .redes a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 0 10px;
}

.inicio .redes a:hover {
    color: #00E676;
}

.inicio .fila {
    display: flex;
    margin-top: 50px;
    padding-bottom: 100px;
}

.inicio .fila .col {
    width: 50%;
}

.inicio .fila .col h2 {
    margin-bottom: 15px;
    font-size: 40px;
}

.inicio .fila .col p {
    margin-bottom: 20px;
}

.inicio .fila .col .contenedor-img {
    max-width: 400px;
    margin: auto;
}

.inicio .fila .col .contenedor-img img {
    width: 100%;
}

.inicio .fila .col button {
    background: none;
    width: fit-content;
    padding: 5px 40px;
    border: 2px solid #2193b0;
    color: #fff;
    background: linear-gradient(to right,#2193b0 , #6dd5ed);
    transition: .5s;
    cursor: pointer;
}

.inicio .fila .col button:hover {
    transform: scale(1.1);
}

#icono-nav {
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    display: none;
}

#icono-nav:hover {
    background-color: #3e3e3e;
}

.sombra {
    filter: drop-shadow(0em 30px 20px #9bd2f4);
}


.sobreMi {
    background-color: #f4f4f9; /* Color de fondo suave */
    padding: 60px 20px; /* Espaciado interno */
    text-align: center;
    margin-bottom: 40px; /* Espacio inferior adicional */
}

.sobreMi h2 {
    font-size: 2.5em; /* Tamaño del título */
    color: #2193b0;
    margin-bottom: 20px; /* Espaciado inferior */
}

.sobreMi .contenido {
    max-width: 800px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centrado horizontal */
    font-size: 1.1em; /* Tamaño de fuente */
    line-height: 1.6; /* Altura de línea */
    color: #555; /* Color del texto */
}

.sobreMi .contenido p {
    margin-bottom: 15px; /* Espaciado inferior de los párrafos */
}

/* Ajustes adicionales para dispositivos móviles */
@media (max-width: 768px) {
    .sobreMi {
        padding: 40px 10px;
        margin-bottom: 30px; /* Espacio inferior adicional en móviles */
    }

    .sobreMi h2 {
        font-size: 2em;
    }

    .sobreMi .contenido {
        font-size: 1em;
    }
}


/* SECCION S E R V I C I O S */
.servicios{
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    position: relative;
    top: -170px;
    z-index: 10;
    background-color: #f4f4f9;
}
.servicios .fila{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.servicios .fila .col{
    text-align: center;
    width: 30%;
}
.servicios .fila .col .card{
    border: 1px solid #8d8d8d;
    height: 400px;
    background-color: #f4f4f9;
    padding: 30px;
    border-radius: 20px;
    position: relative;
}
.servicios .icono{
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.servicios .icono .circulo{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}
.color1{
    background: linear-gradient(#ff9900, #ff5b00);
}
.color2{
    background: linear-gradient(#038aee, #0039a9);
}
.color3{
    background: linear-gradient(#04e2ee, #017795);
}
.servicios h3{
    margin-bottom: 20px;
}
.servicios .card p{
    color: #8d8d8d;
    line-height: 28px;
    font-size: 12px;
}
.servicios .card a{
    text-decoration: none;
    color: #008cff;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
/* Sección Habilidades */

.habilidades {
    background-color: #f4f4f9;
    padding: 60px 0 40px; /* Ajusta el padding-bottom */
    position: static; /* Cambiado de relative si no necesitas el desplazamiento */
    margin-bottom: 0; /* Elimina cualquier margen adicional */
}

.trabajos {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    margin-top: 20px; /* Ajusta el margen superior */
    background-color: #f4f4f9;
}


/*
.habilidades {
    background-color: none;
    color: #fff;
    padding: 60px 0;
    position: relative;
    top: -100px;
}
*/
.habilidades h2 {
    text-align: center;
    color: #2193b0;
}

.habilidades .contenedor-habi {
    max-width: 1100px;
    margin: auto;
}

.categoria {
    margin-bottom: 40px; /* Espacio entre categorías */
}

.categoria h3 {
    text-align: center;
    color: #2193b0;
    margin-bottom: 20px; /* Espacio debajo del título de la categoría */
}

.logos-tecnologias {
    display: flex;
    flex-wrap: wrap; /* Permite que los íconos se envuelvan en varias líneas si es necesario */
    justify-content: center; /* Alinea los íconos al centro horizontalmente */
    align-items: center; /* Alinea los íconos al centro verticalmente */
}

.logos-tecnologias img {
    width: 50px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: 50px; /* Asegura que la altura coincida con el ancho para mantener la proporción */
    margin: 0 10px; /* Espacio entre cada imagen */
    object-fit: contain; /* Mantiene la proporción de la imagen dentro del área asignada */
}


/* Esta clase se genera dinámicamente por la librera para graficos */
.score .box canvas{
    position:absolute;
    top: 0;
    left: 0;
}
/* SECCION T R A B A J O S */
/*
.trabajos{
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}
    */
.trabajos h2{
    text-align: center;
    color: #2193b0;
}

/* Esta clase se agregrá dinámicamente cuando haya seleccionada una opción */
.borde{
    border: 3px solid #ff5b00 !important;  
}
.trabajos .galeria .item img{
    width: 100%;
    height: 100%;
    display: block;
}
.trabajos .galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap:30px;
}
.trabajos .galeria .item{
    position: relative;
    overflow: hidden;
    border: 1px solid #8d8d8d ;
    border-radius: 10px;
}
.trabajos .galeria .item .info{
    position: absolute;
    top: -100%;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color:#fff ;
    width: 100%;
    padding: 20px;
    opacity: 0;
    transition: .3s;
}
.trabajos .galeria .item .info h3{
    color: #000;
    margin-bottom: 20px;
}
.trabajos .galeria .item .info span{
    color: #8d8d8d;
    display: inline-block;
    border: 2px solid #8d8d8d;
    margin: 0 3px;
    padding:  0 5px;
}
.trabajos .galeria .item .info a{
    display: block;
    margin: 20px;
    text-decoration: none;
    color: #007be5;
    font-weight: bold;
}
.trabajos .galeria .item:hover .info{
    opacity: 1;
    top: 0;
}

/* SECCION RESPONSIVE */
@media screen and (max-width:1180px){
    .inicio{
        clip-path: none;
    }
}
@media screen and (max-width:800px){
    .redes{
        display: none;
    }
    #nav{
        display: none;
    }
    #nav.responsive{
        background-color: rgba(0,0,0,.9);
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        position: absolute;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 99;
    }
    #nav.responsive a{
        font-size: 30px;
    }
    #icono-nav{
        display: block;
    }

    .inicio{
        height: auto;
    }
    .inicio .fila{
        display: block;
    }
    .inicio .fila .col{
        width: 100%;
        text-align: center;
    }
    .inicio .fila .col h2{
        margin-top: 20px;
    }
    .inicio .fila .col .contenedor-img{
        width: 50%;
        margin-top: 30px;
    }

    .servicios{
        position: static;
        padding: 20px;
    }
    .servicios .fila{
        display: block;
        margin-bottom: 0;
    }
    .servicios .fila .col{
        width: 70%;
        margin: auto;
    }
    .servicios .fila .col .card{
        margin-bottom: 20px;
    }
    .habilidades{
        position: static;
    }

    .trabajos nav a{
        margin: 0 5px;
    }

    .contacto .fila{
        display:  block !important;
    }
    .contacto .fila .col{
        text-align: center;
        width: 100% !important;
    }
    .contacto .fila .col .info{
        float: left;
        font-size: 12px;
        width: 25%;
    }
}

/* Estilos para la sección de cursos y certificaciones */
.cursos {
    background-color: #f5f5f5;
    padding: 0 5%;
    margin-top: 100px;
}

.cursos h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #2193b0;
}

.contenedor-cursos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Ajusta 300px según lo necesites */
    grid-gap: 30px;
}

.curso {
    position: relative;
    overflow: hidden;
    border: 1px solid #8d8d8d;
    border-radius: 10px;
    height: 230px;
    .curso {
    max-width: 100%; /* Asegura que las tarjetas no se expandan más allá del contenedor */
    }
    
}

.curso img {
    width: 100%;
    height: 100%; /* Ajusta la altura al 100% de la tarjeta */
    object-fit: contain; /* Mantiene el contenido de la imagen ajustado sin distorsión */
    display: block;
    border-radius: 10px 10px 0 0;
}

.info-curso {
    position: absolute;
    top: -100%;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: #fff;
    width: 100%;
    padding: 20px;
    opacity: 0;
    transition: .3s;
}

.info-curso h3 {
    color: #000;
    margin-bottom: 20px;
}

.info-curso span {
    color: #8d8d8d;
    display: inline-block;
    border: 2px solid #8d8d8d;
    margin: 0 3px;
    padding: 5px;
}

.info-curso a {
    display: block;
    margin: 20px;
    text-decoration: none;
    color: #007be5;
    font-weight: bold;
}

.curso:hover .info-curso {
    opacity: 1;
    top: 0;
}

@media (max-width: 768px) { /* Ajusta el breakpoint según lo necesites */
    .contenedor-cursos {
        grid-template-columns: 1fr;
        padding: 0 10px; /* Ajusta el padding para dispositivos móviles */
    }
}


footer {
    margin-top: 40px;
    background-color: #333;
    padding: 40px 20px;
    text-align: center;
    color: #fff;
  }
  
  footer h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .contact-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .contact-buttons a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .contact-buttons a i {
    font-size: 24px;
    color: #333;
    transition: color 0.3s;
  }
  
  .contact-buttons a:hover {
    background-color: #007be5;
  }
  
  .contact-buttons a:hover i {
    color: #fff;
  }

.sobreMi,
.servicios,
.habilidades,
.trabajos,
.cursos {
    background-color: #f6fafc;
}

  